<!-- HOME -->
<div class="wrapper-quotes">
    <header class="quote-header">Qoute of the Day</header>
    <div class="content-quote">
      <div class="quote-area">
          <i class="fas fa-quote-left"></i>
          <p class="quote">Life Kinda Rocks</p>
          <i class="fas fa-quote-right"></i>
      </div>
      <div class="qoute-author">
          <span>__</span>
          <span class="name">Mary Kay Ash</span>
      </div>
    </div>
    <div class="quote-buttons">
      <div class="quote-features">
          <ul>
              <li class="sound"><i class="fas fa-volume-up"></i></li>
              <li class="copy"><i class="fas fa-copy"></i></li>
          </ul>
          <button class="new-quote">New Quote</button>
      </div>
    </div>
  </div>