<div class="container">
  <h1>Available Quizzes</h1>
  <ul class="quiz-list">
    <li class="quiz-item" onclick="window.location.href='quiz1.html';">
      <span class="quiz-title">General Knowledge Quiz</span>
      <a href="quiz1.html" class="quiz-link">Start Quiz</a>
    </li>
    <li class="quiz-item" onclick="window.location.href='quiz2.html';">
      <span class="quiz-title">Science Trivia</span>
      <a href="quiz2.html" class="quiz-link">Start Quiz</a>
    </li>
    <li class="quiz-item" onclick="window.location.href='quiz3.html';">
      <span class="quiz-title">History Challenge</span>
      <a href="quiz3.html" class="quiz-link">Start Quiz</a>
    </li>
  </ul>
</div>
